  @font-face {
    font-family: Conformable;
    src: url(/home/giulia/Downloads/Conformable Font by 7NTypes.otf);
  }

  @font-face {
    font-family: Relista;
    src: url(/home/giulia/Downloads/Relista.ttf);
  }

  @font-face {
    font-family: Brotherline;
    src: url(/home/giulia/Downloads/Brotherline.otf);
  }

  center {
    color: #eb078c;
    font-size: 100px;
    font-weight: bold;
    font-family: Conformable;
  }

  body {
    background-image: url(/home/giulia/Documentos/project0/words.jpg);
    background-repeat: repeat-y;
    background-position: 55% 50%;
  }

  h1 {
    color: #4f8df7;
    font-weight: bold;
    font-family: Relista;
    font-size: 70px;
  }

  p {
    font-size: 26px;
    color: #023896;
    margin-bottom: 100px;
  }

  ol > li {
    color: #023896;
    font-size: 26px;
  }

  ol {
    margin-bottom: 100px;
  }

  .row > div {
    padding: 20px;
    background-color: pink;
    border: 5px dotted white;
    font-size: 20px;
    color: #023896;
    text-align: center;
    margin-bottom: 100px;
  }

  .botoes_sessoes a {
    font-size: 35px;
    font-family: Brotherline;
    font-weight: bold;
    color: #1227e0;
    line-height: 1.5;
    margin-right: 90px;
  }

  .sign_in_up a {
    font-size: 35px;
    font-family: Brotherline;
    font-weight: bold;
    color: #eb078c;
    margin-right: 60px;
  }

  div.detalhe {
    background-color: pink;
    background-size: 100%;
  }

  img {
    margin-bottom: 100px;
  }
