  caption {
    font-size: 30px;
    font-weight: bold;
  }

  table {
    width: 50%;
    border: 5px black;
    border-style: dotted;
    margin-top: 50px;
    border-collapse: collapse;
    margin-bottom: 50px;
  }

  center {
    margin-bottom: 50px;
  }

  th {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  textarea {
    margin-top: 20px;
    margin-bottom: 20px;
  }
