  @font-face {
    font-family: Quicksand-book;
    src: url(../../assets/fonts/Quicksand_Book.otf);
  }

  @font-face {
    font-family: Quicksand-bold;
    src: url(../../assets/fonts/Quicksand_Bold.otf);
  }
  
  .navbar {
    width: 100%;
    height: 30%;
    background-color: #EB078C;
  }

  .navbar .logo {
    display: flex;
    justify-content: center;
    height: 80%;
  }

  .navbar .logo img {
    width: 16%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .page-content {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }

  .sidebar {
    position: fixed;
    display: flex;
    align-self: center;
    width: 286px;
    height: 78%;
    background: linear-gradient(180deg, rgba(235, 7, 140, 0.7) 0%, rgba(255, 255, 255, 0) 100%), #FFC0CB;
    margin-left: 6%;
    border-radius: 20px;
  }

  .sidebar .sidebar-content {
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .sidebar .sidebar-content .user-img {
    display: flex;
    justify-content: center;
  }

  .sidebar .sidebar-content .user-img img {
    width: 64px;
  }

  .sidebar .sidebar-content .user-informations {
    margin-top: 10px;
  }

  .sidebar .sidebar-content .user-informations p {
    text-align: center;
  }

  .sidebar .sidebar-content .user-informations .user-name {
    color: #4f8df7;
    font-size: 20px;
    font-family: 'Quicksand-bold';
  }

  .sidebar .sidebar-content .user-informations .told-stories, .views {
    color: #023896;
    font-size: 16px;
    font-family: 'Quicksand-book';
    margin-top: 10px;
  }

  .sidebar .sidebar-content .division-bar {
    width: 278px;
    height: 0px;
    background-color: gray;
    border: 1px solid gray;
    margin-top: 25px;
  }

  .sidebar .sidebar-content .sidebar-topics {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 25px;
  }

  .sidebar .sidebar-content .sidebar-topics .first-topic, .second-topic, .third-topic, .forth-topic, .fifth-topic {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 90%;
    height: 35px;
    background-color: transparent;
    border-color: transparent;
    outline-style: none;
  }

  .sidebar .sidebar-content .second-topic, .third-topic, .forth-topic, .fifth-topic {
    margin-top: 6%;
  }

  .sidebar .sidebar-content .sidebar-topics .first-topic img, .second-topic img, .third-topic img, .forth-topic img, .fifth-topic img {
    width: 10%;
    margin-left: 10%;
  }

  .sidebar .sidebar-content .sidebar-topics .first-topic:hover, .second-topic:hover, .third-topic:hover, .forth-topic:hover, .fifth-topic:hover {
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 5px 8px;
    border-radius: 30px;
    background-color: #FFC0CB;
    outline-style: none;
  }

  .sidebar .sidebar-content .sidebar-topics .first-topic .principal-page, .second-topic .trend-topics , .third-topic .notifications, .forth-topic .my-profile, .fifth-topic .more {
    color: #4f8df7;
    font-size: 20px;
    font-family: 'Quicksand-bold';
    margin-left: 10px;
    margin-top: 5px;
  }

  .sidebar .sidebar-content .sidebar-topics .first-topic .principal-page {
    color: #6244FC;
  }

  .sidebar .sidebar-content .new-story {
    display: flex;
    justify-content: center;
    margin-top: 27px;
  }

  .sidebar .sidebar-content .new-story .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB078C;
    border: transparent;
    border-radius: 30px;
    width: 75%;
    height: 50px;
    color: #FFFFFF;
    font-family: 'Quicksand-bold';
    font-size: 20px;
  }

  .sidebar .sidebar-content .new-story button:hover {
    background-color: #EE4FAC;
  }

  .table {
    margin-left: 400px;
  }

  .table .table-content {
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 85%;
    border: 3px solid pink;
    border-radius: 5px;
    border-spacing: 0;
    font-family: 'Quicksand-book';
    margin: 0px;
  }

  caption {
    font-size: 40px;
    color: #023896;
    margin-bottom: 5%;
    margin-top: 3%;
  }

  th {
    width: 50%;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #E8A2D1;
    height: 40px;
    color: #4f8df7;
    font-family: 'Quicksand-bold';
    font-size: 20px;
  }

  td {
    width: 50%;
    border-bottom: 1px solid gray;
    border-right: 2px solid gray;
    height: 40px;
    text-align: center;
    color: #023896;
  }

  .poetry, .story, .writting {
    border-right: 0px;
  }

  .story, .suspense {
    border-bottom: 0px;
  }

  .forms {
    margin-left: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .forms-content {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .story-title {
    width: 100%;
  }

  .story-title input, .story textarea {
    width: 100%;
    border: 4px solid #FFC0CB;
    box-sizing: border-box;
    border-radius: 40px;
    outline-style: none;
  }

  .story-title input {
    height: 60px;
  }

  .story textarea {
    height: 200px;
  }

  .story-title input::placeholder, .story textarea::placeholder {
    font-family: 'Quicksand-book';
    font-size: 20px;
  }

  .story-title input::placeholder, .story textarea::selection {
    margin-left: 30px;
  }

  .story-title input::placeholder {
    padding-left: 20px;
  }

  .story textarea::placeholder {
    padding: 20px;
  }

  .story {
    width: 100%;
  }

  .story textarea {
    margin-top: 15px;
  }

  .forms-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .forms-button button {
    width: 20%;
    height: 45px;
    border-radius: 30px;
    background-color: #EB078C;
    border-color: transparent;
  }

  .forms-button button:hover {
    background-color: #EE4FAC;
  }

  .forms-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Quicksand-bold';
    font-size: 18px;
  }

  .post-box {
    margin-left: 480px;
    margin-top: 40px;
  }

  .post-box .post-box-content {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%), #E8A2D1;
    border: 1px solid gray;
    width: 92%;
    height: 400px;
    border-radius: 40px;
  }

  .post-box .post-box-content .user {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-top: 3%;
  }

  .post-box .post-box-content .user img {
    width: 50px;
  }

  .post-box .post-box-content .user p {
    font-family: 'Quicksand-bold';
    font-size: 20px;
    color: #4f8df7;
  }
